@model IEnumerable<DeckOfCards.Core.Models.Deck>

@{
    ViewBag.Title = "Index";
}

<style>
    .deck{
        border: 1px solid whitesmoke;
        border-radius: 3px;
        margin: 10px;
        text-align: center;
        max-width: 30%;
    }
</style>

<h2>Index</h2>

@using (Html.BeginForm("Create", "Home"))
{
    <input type="text" name="DeckName" placeholder="Deck Name"/>
    <input type="submit" value="New Deck" class="btn btn-default"/>
}

<div class="col-md-12" style="margin-top:20px">
    @foreach(var item in Model)
    {
        <div class="col-md-2 deck">
            <div>
                <a href="@Url.Action("Details", "Home", new { id = item.Id })">
                    <img src="~/Content/Image/card-back-black.png" width="100%" />
                </a>
            </div>
            <div><b>@item.DeckName</b></div>
            <div>@item.Cards.Count() Cards</div>
        </div>
    }
</div>

<div class="col-md-12 clearfix"/>
